= form_for @company, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :addres, :class => 'control-label'
    .controls
      = f.text_field :addres, :class => 'text_field'
  .control-group
    = f.label :active, :class => 'control-label'
    .controls
      = f.check_box :active, :class => 'check_box'
  .control-group
    = f.label :ciut, :class => 'control-label'
    .controls
      = f.text_field :ciut, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), companies_path, :class => 'btn'
